$breakPointSmMin: 0px !default;
$breakPointSmMax: 767px !default;
$breakPointMgMin: 768px !default;
$breakPointMgMax: 767px !default;
$breakPointLgMin: 767px !default;
$breakPointLgMax: 1500px !default;
