%button {
	display: flex;	
	align-items: center;
	padding: 12px 32px;
	border: none;
	border-radius: 22px;
	display: inline-flex;
	align-items: center;
	font-size: 1.1em;

	.footer-icon {
		margin-right: 16px
	}
}

@mixin button-primary {
	@extend %button;
	flex-direction: row;
	text-align: center;
	& {
		background-color: $buttonPrimaryBackgroundColor;		
		div {
			width: 100%;
		}
		&:hover {
			background-color: darken($buttonPrimaryBackgroundColor, 12%);
		}
	}
}

@mixin button-secondary {
	@extend %button;
	flex-direction: column;
	color: $bodyCopyColor;
	& {
		background-color: $primaryBackgroundGray;
	}
	&:hover {
		background-color: darken($primaryBackgroundGray, 12%);
	}
}