@mixin link-primary {
	& {
		color: $linkPrimaryColor;
		text-decoration: none;

		&:hover {
			border-bottom: 1px solid $linkPrimaryBorderBottomColor;
		}
	}
}

@mixin link-primary-dark {
	& {
		color: #626262;
		text-decoration: none;
	}
}