%link {
	text-decoration: none;
}

@mixin link-primary {
	@extend %link;
	& {
		color: $linkPrimaryColor;	

		&:hover span {
			border-bottom: solid 2px #eee;
		}
	}
}

@mixin link-primary-dark {
	@extend %link;
	& {
		color: #626262;
	}
}

@mixin link-inline {
	@extend %link;
	& {
		color: green;

		&:hover {
			border-bottom: solid 2px green;
		}
	}
}