@mixin notification {
	position: relative;
	bottom: 12px;
	display: inline-block;	
	height: 6px;
	width: 6px;
	border-radius: 50%;	
	box-shadow: 0 2px 2px #000;
}

@mixin notification-important {
	@include notification;
	background-color: #ffc107;
}

// Could add other mixins for other states