$primaryBackgroundGreen: green !default;
$primaryBackgroundDark: #4f4f4f !default;

$linkPrimaryColor: #fff !default;
$linkPrimaryBorderBottomColor: #fff !default;

$buttonPrimaryBackgroundColor: #fff !default;