$primaryBackgroundGreen: green !default;
$primaryBackgroundDark: #4f4f4f !default;
$primaryBackgroundLight: #fff;
$primaryBackgroundGray: #eee;

$linkPrimaryColor: #fff !default;
$linkPrimaryBorderBottomColor: #fff !default;
$inlineLinkColor: green !default;
$linkColorDark: #626262 !default;

$buttonPrimaryBackgroundColor: #fff !default;
$buttonFontColorDark: #626262 !default;

$bodyCopyLight: #eee !default;
$bodyCopyColor: #3f3f3f !default;

$borderColorGray: #aeaeae !default;

$formInputColor: #626262 !default;
$formInputPlaceholderColor: #aeaeae !default;